/* Author: Rozy Zreiq*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden !important;
}

p {
  font-size: 14px;
  font-weight: 300;
  color: #8a8a8a;
  line-height: 2;
  margin: 0;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-padding {
  padding: 120px 0;
}

.section-head {
  margin-bottom: 80px;
}
.section-head h3 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.section-head span {
  position: relative;
}
.section-head span:after, .section-head span:before {
  content: '';
  width: 100px;
  height: 3px;
  position: absolute;
  top: 9px;
  background: #555;
}
.section-head span:after {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#555));
  background: linear-gradient(to right, transparent, #555);
}
.section-head span:before {
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#555));
  background: linear-gradient(to left, transparent, #555);
}
.section-head span i {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #555;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  z-index: 3;
}

.bg-gray {
  background: #f7f7f7;
}

.o-hidden {
  overflow: hidden;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

[data-overlay-dark],
[data-overlay-light] {
  position: relative;
}

[data-overlay-dark] .container,
[data-overlay-light] .container {
  position: relative;
  z-index: 2;
}

[data-overlay-dark]:before,
[data-overlay-light]:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

[data-overlay-dark]:before {
  background: #000;
}

[data-overlay-light]:before {
  background: #fff;
}

[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-dark] span {
  color: #fff;
}

[data-overlay-dark] p {
  color: #bbb;
}

[data-overlay-dark="5"]:before,
[data-overlay-light="5"]:before {
  opacity: 0.5;
}

[data-overlay-dark="8"]:before,
[data-overlay-light="8"]:before {
  opacity: 0.8;
}


.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
  line-height: .7;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0 7px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #eee;
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}


.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {

  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  min-height: 80px;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: 500;
  color: #eee;
  letter-spacing: .5px;
  margin: 15px 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}
.navbar .navbar-nav .nav-link:after {
  content: '';
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  opacity: 0;
  left: calc(50% - 15px);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.navbar .navbar-nav .active:after {
  bottom: 0px;
  opacity: 1;
}

.nav-scroll {
  background: #fff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  padding: 0;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.nav-scroll .icon-bar {
  color: #222;
}
.nav-scroll .navbar-nav .nav-link {
  color: #222;
}
.nav-scroll .navbar-nav .nav-link:after {
  background: #222;
}
.nav-scroll .navbar-nav .logo {
  padding: 15px 0;
  color: #111;
}

.logo {
  padding: 15px 0;
  width: 100px;
  color: #fff;
  font-size: 20px;
}

.header {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.header .caption h6 {
  font-size: 20px;
  letter-spacing: 2px;
}
.header .caption h1 {
  margin: 10px 0;
  font-size: 60px;
  font-weight: 700;
  font-family: inherit;
  word-spacing: 2px;
  letter-spacing: 2px;
}
.header .caption p {
  font-size: 15px;
  font-weight: 300;
  color: #eee;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.header .caption .social a {
  color: #fff;
  font-size: 12px;
  margin: 0 10px;
}
.header .caption .butn {
  color: #fff;
  padding: 12px 40px;
  border: 1px solid #eee;
  border-radius: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.header .caption .butn:hover {
  background: #eee;
  color: #111;
}
.header #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.header .bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.header.creative .svg {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header.creative .svg svg {
  fill: #fff;
  width: 101%;
}

.hero {
  position: relative;
    background-color: #F7F7F7;
}
.hero .hero-img {
  position: relative;
}
.hero .hero-img:after {
  content: '';
  width: 90%;
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: 0;
  background-image: url("../img/dots.png");
  background-repeat: repeat;
  z-index: -1;
}
.hero .hero-img .img {
  padding: 0 30px 30px 15px;
  position: relative;
}
.hero .hero-img .img:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 0;
  left: 45px;
  bottom: 0;
  border: 10px solid #eee;
}
.hero .hero-img .img img {
  position: relative;
  z-index: 2;
}
.hero .content {
  padding-left: 30px;
}
.hero .content h3 {
  font-weight: 600;
}
.hero .content span {
  margin: 10px 0 15px;
  color: #555;
  font-weight: 500;
}
.hero .content .info {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eee;
}
.hero .content .info h6 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.hero .content .info h6 .icon {
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #eee;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}
.hero .content .info p {
  padding-left: 30px;
}
.hero .content .butn {
  padding: 12px 40px;
  border: 1px solid #111;
  border-radius: 30px;
  background: #111;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.hero .content .butn:hover {
  background: #fff;
  color: #111;
}
.hero .wave {
  position: absolute;
  top: -100px;
  left: -5%;
  width: 110%;
  height: 100px;
  background-image: url("../img/wave.svg");
  background-size: cover;
  z-index: 1;
}
.services .item {
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.services .item .icon {
  font-size: 30px;
  margin-bottom: 40px;
  color: #555;
  position: relative;
  z-index: 3;
}
.services .item .icon:after {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#fafafa));
  background: linear-gradient(to right, transparent, #fafafa);
  position: absolute;
  top: 0;
  left: 5px;
  z-index: -1;
}
.services .item h6 {
  font-size: 16px;
  margin-bottom: 15px;
}

.testimonials.minimal .item p {
  color: #8a8a8a;
}
.testimonials .icon {
  font-size: 50px;
  margin-bottom: 30px;
}
.testimonials .item p {
  font-size: 16px;
  font-family: inherit;
  font-style: italic;
  color: #ccc;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.testimonials .item h6 {
  margin-bottom: 5px;
}
.testimonials .item h5 {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 15px;
}

.blog .item {
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.blog .item .post-img .img {
  overflow: hidden;
}
.blog .item .post-img:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.blog .item .post-img img {
  -webkit-transition: all .5s;
  transition: all .5s;
}
.blog .item .cont {
  padding: 30px;
}
.blog .item .info {
  margin-bottom: 10px;
}
.blog .item .info a {
  color: #888;
  font-size: 12px;
  margin: 0 5px 5px;
}
.blog .item .info a:after {
  content: '/';
  position: relative;
  margin-left: 10px;
}
.blog .item .info a:last-child:after {
  display: none;
}
.blog .item h6 {
  line-height: 2;
  margin-bottom: 15px;
}

footer {
  padding: 80px 0 0;
}
footer .item {
  text-align: center;
  margin-bottom: 30px;
}
footer .item .icon {
  color: #999;
  font-size: 30px;
  margin-bottom: 15px;
}
footer .item h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
footer .item p {
  font-weight: 400;
  letter-spacing: 1px;
}
footer .sub-footer {
  background: #444;
  padding: 30px 0;
  margin-top: 50px;
}
footer .social {
  margin-bottom: 10px;
}
footer .social a {
  font-size: 14px;
  margin: 0 10px;
  color: #eee;
}
footer .copy p {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

/*-------------------------------------------------------
			[ margin-bottom  (0/100) +5 ]
-------------------------------------------------------*/

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-62 {
  margin-bottom: 62px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

/*-------------------------------------------------------
			[ padding-top  (0/100) +5 ]
-------------------------------------------------------*/

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-95 {
  padding-top: 95px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

/*-------------------------------------------------------
		[ padding-bottom  (0/100) +5 ]
-------------------------------------------------------*/

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-75 {
  padding-bottom: 75px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-95 {
  padding-bottom: 95px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.no-padding {
  padding: 0 !important;
}

